/* --------------------RESET------------------------ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(0, 204, 255);
    --bg-color: rgb(255, 255, 255);
    --font-main: "Lato", sans-serif;
    --max-width: 1200px;
}

html {
    font-size: 16px;
}

/* --------------------THE PAGE------------------------ */
header {
    background-color: var(--primary-color);
}

body {
    font-family: var(--font-main);
    font-weight: 900;
    line-height: 2rem;
    color: var(--primary-color);
    background-color: var(--bg-color);
}

p {
    font-weight: 400;
    margin: 1rem;
}

h1,
h2,
h3 {
    font-weight: 700;
    line-height: 2rem;
    margin: 1rem;
}

img {
    display: block;
    max-width: 100%;
}

#course-title {
    display: block;
    text-align: center;
    color: var(--bg-color);
    padding: 2rem;
    font-size: 2.5rem;
    font-weight: 400;
}

/* --------------------NAVBAR------------------------ */
.navigation ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    padding: 1rem;
    background-color: var(--secondary-color);
}

.navigation a {
    display: block;
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    margin: 1rem;
}

nav a:hover {
    color: var(--bg-color);
}

/* --------------------MAIN------------------------ */
main {
    max-width: var(--max-width);
    min-height: 10vh;
    margin: 2rem auto;
    padding: 0 1.5rem;
}

main h1 {
    font-family: var(--font-main);
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    color: var(--primary-color);
    padding: 1rem;

}

/* --------------------2 sections | 2 cards (def)------------------------ */
.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
    align-items: stretch;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1.2px solid var(--secondary-color);
    border-radius: 12px;
    overflow: hidden;
}

/* --------------------section 1: card------------------------ */
/* -------------------------div 1----------------------------- */
.card h2 {
    font-family: var(--font-main);
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    background-color: var(--primary-color);
    padding: 1rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0;
}

.card-content {
    flex: 1;
    padding: 1.25rem;
}

.about-me {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 0;
}

.about-me p {
    flex: 1;
    font-size: 1rem;
    color: var var(--primary-color);
}

.about-me img {
    flex-shrink: 0;
    width: 120px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;

}

/* --------------------div 2------------------------ */
.location h3 {
    font-family: var(--font-main);
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    color: var(--primary-color);
    border-bottom: 1px solid var(--accent-color);
}

.about-location {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.about-location figure {
    text-align: center;
    flex-shrink: 0;
}

.about-location figure img {
    display: block;
    width: 120px;
    height: 80px;
    object-fit: cover;
    margin-top: 2.5rem;
    border-radius: 8px;
}

.about-location figcaption {
    font-style: italic;
    color: var(--primary-color);
    margin-top: 0.2rem;
    text-align: center;
    font-weight: 400;
    font-size: 0.8rem;
}

.about-location p {
    flex: 1;
    color: var(--primary-color);
    margin-top: 1rem;
    margin-right: 8rem;
    font-size: 1rem;
}

/* --------------------section 2: card------------------------ */
.link-list {
    list-style: disc;
    padding-left: 1.5rem;
    margin: 6rem 0;
}

.link-list a {
    color: revert;
    text-decoration: revert;
    font-size: 1.1rem;
    font-weight: 700;
}

/* --------------------FOOTER------------------------ */
footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem 1.5rem;
    font-size: 0.9rem;
    margin-top: auto;
}

footer p {
    font-size: 1.2rem;
    margin: 0.2rem 0;
    padding: 0;
    font-weight: 400;
    color: var(--bg-color);
}

footer #lastModified {
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 400;
}