@media only screen and (min-width: 768px) {

    #menu {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-container {
        flex-direction: row;
    }

    .nav-container a {
        display: block;
    }

    .container-fig {
        grid-template-columns: repeat(3, 1fr);
    }
}